* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(191, 68, 68);
}
footer {
  text-align: center;
  padding: 2rem;
}
.title {
  padding: 2rem;
}
.container {
  margin: 0 auto;
  max-width: 90%;
}
.form_choose {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.col_slot {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.slot {
  background-color: white;
  border-radius: 25px;
  padding: 2rem;
}
