/* DEFAULT  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(191, 68, 68);
}
footer {
  text-align: center;
  padding: 2rem;
}

/* HEADER  */
.title {
  padding: 2rem;
}

/* MAIN  */
.container {
  margin: 0 auto;
  max-width: 90%;
}

/* FORM  */
.form_choose {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.select_box {
  gap: 1rem;
}
.select_box label {
  color: rgb(235, 199, 199);
}
.form_choose select {
  flex-basis: 30%;
}

/* SLOT PART  */
.col_slot {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.slot {
  background-color: white;
  border-radius: 25px;
  padding: 2rem;
}

/* RESPONSE PART  */

/* FOOTER  */
